/**
 * @file
 * Subtheme specific CSS.
 */

#page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.region-secondary-menu {
    flex-grow: 1;
    flex-direction: row;
}

.row.region-secondary-menu>* {
    width: fit-content;
    flex-grow: 1;
}

#block-pharmacy-account-menu .nav {
    justify-content: end;
}

a.navbar-brand {
    display: grid;
    column-gap: 1rem;
}

a.navbar-brand img {
    grid-column: 1/1;
    grid-row: 1 / span 2;
}

a.navbar-brand span {
    grid-column: 2/2;
}

a.navbar-brand span.header-site-name {
    grid-row: 1/1;
}

a.navbar-brand span.site-name-slogan {
    grid-row: 2/2;
}

.block-menu.navigation.menu--cateogories ul.nav {
    flex-direction: column;
}
