/**
 * @file
 * Subtheme specific CSS.
 */

#page .row {
    margin: 0px;
}

.region-secondary-menu {
    flex-grow: 1;
    flex-direction: row;
}

.row.region-secondary-menu>* {
    width: fit-content;
    flex-grow: 1;
}

#block-pharmacy-account-menu .nav {
    justify-content: end;
}

.header #navbar-top {
    background-color: #f3f3f3;
    color: #777;
}

#page .header #navbar-main {
    gap: 1rem;
    flex-wrap: wrap;
}

.header #navbar-main .navbar-collapse {
    flex-direction: row-reverse;
    flex-basis: 100%;
    order: 5;
}

a.navbar-brand {
    display: grid;
    column-gap: 1rem;
    order: 2;
}

a.navbar-brand img {
    grid-column: 1/1;
    grid-row: 1 / span 2;
}

a.navbar-brand span {
    grid-column: 2/2;
}

a.navbar-brand span.header-site-name {
    grid-row: 1/1;
}

a.navbar-brand span.site-name-slogan {
    grid-row: 2/2;
}

.header-search-wrapper {
    order: 3;
    flex-grow: 1;
}

.header-search-wrapper form {
    display: flex;
}

.header-search-wrapper form .form-item-search {
    flex-grow: 1;
}

.block-commerce-cart {
    order: 4;
}

.block-menu.navigation.menu--cateogories ul.nav {
    flex-direction: column;
}

.site-footer {
    background-color: #fff;
}

#page .block.block-views,
#page .block.block-views h2,
#page .block.block-views .view-content.row {
    margin-bottom: 30px;
}

#page .header,
#page .block.block-views,
#page .block.block-views h2 {
    border-bottom: 1px solid #97ae1a;
    padding-bottom: 15px;
}

#page .header #navbar-main,
#page .header .navbar .region-secondary-menu {
    max-width: 1200px;
    margin: 0 auto;
}

#page .block.block-views h2 {
    color: #444;
    display: block;
    width: 100%;
    text-align: center;
}

#page .block.block-views .view-content.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.region-primary-menu {
    width: 100%;
}
